name: Build Godot POC Exe
on: push
jobs:
  Build-Executable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: vitorgus/setup-godot@v1
        with:
          godot-version: 4.3
          mono: true
      - name: Windows Build
        run: |
          mkdir -v -p build/windows
          godot -v --export "Windows" ./build/windows/Godot-POC.exe
      - uses: actions/upload-artifact@v2
        with:
          name: windows
          path: build/windows
