name: Build Godot POC Exe
on: push
jobs:
  Build-Executable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download Godot
        run: |
          wget -v https://github.com/godotengine/godot/releases/download/4.3-stable/Godot_v4.3-stable_mono_linux_x86_64.zip
          unzip Godot_v4.3-stable_mono_linux_x86_64.zip
          chmod +x ./Godot_v4.3-stable_mono_linux_x86_64/Godot_v4.3-stable_mono_linux.x86_64
      - name: Download Export Templates
        run: |
          wget -v https://github.com/godotengine/godot/releases/download/4.3-stable/Godot_v4.3-stable_mono_export_templates.tpz
          unzip Godot_v4.3-stable_mono_export_templates.tpz
          mkdir -v -p /home/runner/.local/share/godot/export_templates/4.3.stable.mono/
          cp -r ./Godot_v4.3-stable_mono_export_templates/templates/* /home/runner/.local/share/godot/export_templates/4.3.stable.mono/
      - name: Run Build
        run: |
          mkdir -v -p build/windows
          ./Godot_v4.3-stable_mono_linux_x86_64/Godot_v4.3-stable_mono_linux.x86_64 -v --headless --export "Windows" ./build/windows/Godot-POC.exe
      - uses: actions/upload-artifact@v2
        with:
          name: windows
          path: build/windows
