name: Build Godot POC Exe
on: 
  push:
    tags:
      - v*  
jobs:
  Build-Executable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download Godot
        run: |
          wget -q https://github.com/godotengine/godot/releases/download/4.3-stable/Godot_v4.3-stable_mono_linux_x86_64.zip
          unzip Godot_v4.3-stable_mono_linux_x86_64.zip
          chmod +x ./Godot_v4.3-stable_mono_linux_x86_64/Godot_v4.3-stable_mono_linux.x86_64
      - name: Download Export Templates
        run: |
          wget -q https://github.com/godotengine/godot/releases/download/4.3-stable/Godot_v4.3-stable_mono_export_templates.tpz
          unzip Godot_v4.3-stable_mono_export_templates.tpz
          mkdir -p /home/runner/.local/share/godot/export_templates/4.3.stable.mono/
          cp -r ./templates/* /home/runner/.local/share/godot/export_templates/4.3.stable.mono/
      - name: Run Build
        run: |
          mkdir -p build/windows
          ./Godot_v4.3-stable_mono_linux_x86_64/Godot_v4.3-stable_mono_linux.x86_64 -v --headless --export-release "Windows" ./build/windows/Godot-POC.exe
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "build/windows"
